// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


//BUTTONS COLORS

$primary: #76BD57;

//CSS
:root{
    --primaryColor:#2A332E;
    --primaryColorB:rgba(0, 0, 0, 0.125);
    --secondaryColor:white;
    --tertiaryColor:#D3FBD8;
    --tertiaryColorB:#d3fbd8cb;
    --fourthColor:#76BD57;
    --specialColor:rgba(252,161,71,1);
}
